/* stop scrolling when open modal
bootstrap attaches modal-open to body when modal is open
*/
body {
  background-color: grey;
}
body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.monsterImage {
  width: 200px;
  height: auto;

}

.cardImage {
  width: 150px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.card-title {
    font-size:17px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@font-face {
  font-family: 'osrs-font';
  font-weight: normal;
  font-style: normal;
  src: local('osrs-font'), url(./fonts/osrs-font.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.lootText { 
  font-family: 'osrs-font';
  display: inline-block;
  zoom:1;
  *display:inline;
  text-align: center;
  padding: 10px;
  margin: auto;
  line-height: 50px;
}

.monster {
  margin: auto;
  text-align: center;
}

/* highlights on hover */

.card{
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
/* padding: 14px 80px 18px 36px; */
cursor: pointer;
/* height: 18rem; */
width: 11rem;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.form-range{
  width:200px; /* sample value - set it as you like*/
  padding: 10px;
}

.form-check-input{
  float: none !important;
}